/* ---------------- Estilos Globales ---------------- */

*{
	margin: 0;
	padding: 0;
}

/* ---------------- Estilos del Home ---------------- */
.header-home{
	background: url(../img/banner.jpg) no-repeat center;
	background-size: cover;
	height: 430px;
}

.logo{
	position: absolute;
	width: 100px;
	left: 175px;
}

.first-nav{
	background-color: #ddd;
	height: 56px;
	text-align: center;
}

.first-nav a{
	color: #444;
	font-size: 1.2rem;
	text-decoration: none;
}

.first-nav li{
	display:inline-block;
	list-style: none;
	padding: 17px;
}

.first-nav li:hover{
	background-color: #bbb;
}
